@import "salesforce-lightning-design-system-internal.css"; 

body{
                font-family:var(--lwc-fontFamily,'Salesforce Sans', Arial, sans-serif) !important;
                margin:0;
                padding:0 !important;
                font-size:13px !important;
                }
                body h1 ,body h2 , body h3,body h4 ,body h5 , body h6{
                font-family:var(--lwc-fontFamily,'Salesforce Sans', Arial, sans-serif) !important;
                }
                body  button{
                font-family:var(--lwc-fontFamily,'Salesforce Sans', Arial, sans-serif) !important;
                font-weight:inherit !important;
                margin: inherit;
                }  .slds-brand-band{
                min-height:100vh;}
                .slds-brand-band:before{
                background:url("../images/themes/oneSalesforce/lightning_blue_background.png"), linear-gradient(to top, rgba(25, 85, 148, 0) 0, #195594);
                }
                ul li{
                margin:0;
                padding:0;}
                body dt{
                font-weight:normal;
                }
                .slds-modal__footer .slds-button + .slds-button {
                margin-left: 0.25rem !important;
                }
 .sidebar_spacing{
                padding:0 0 0 .75rem;}
               @media(max-width:767px){
                 .sidebar_spacing{
                padding:.75rem 0 0 0;}
                }
.slds-form__item{
                min-width:50%;}
                .slds-tabs_default__nav .slds-tabs_default__link{
                font-size:16px;}
                .slds-tabs_default__item+.slds-tabs_default__item {
                margin-left: var(--lwc-varSpacingHorizontalLarge,1.5rem);
                }
                .slds-page-header__name-title h1 span:first-child{
                color:rgb(62,62,60);}
                .slds-page-header__name-title .slds-page-header__title{
               }
                .slds-button__icon_hint, .slds-button__icon--hint {
                fill: #e0e5ee;
                }
                .no-border{
                border:0 !important;}
               .slds-dropdown__item > a{
                color:var(--lwc-brandAccessible,rgb(0, 112, 210));}